/* Regular (400) */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Regular.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Regular.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Regular.woff') format('woff');
}

/* Medium (500) */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium.woff') format('woff');
}

/* Bold (700) */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold.woff') format('woff');
}

/* Extra Bold (800) */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff') format('woff');
}

/* Regular (400), Italic */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Italic.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Italic.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Italic.woff') format('woff');
}

/* Medium (500), Italic */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff') format('woff');
}

/* Bold (700), Italic */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff') format('woff');
}

/* Extra Bold (800), Italic */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.eot');
	src: local('JetBrains Mono'),
		local('JetBrains-Mono'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.eot') format('embedded-opentype'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
		url('/dist/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
}
