{% set currentSession = craft.entries.section('sessions').order('postDate asc').status(['live', 'pending']).one %}

{% extends '_layout' %}

{% block body %}

    <div class="flex w-full justify-between py-2 leading-tight">
        <div class="text-left p-4">
            <span class="font-extrabold">
                {% verbatim%}{% <span class="text-gold">extends</span> <span class="text-cyan">'Conf'</span> %}{% endverbatim %}
            </span>
        </div>
        <div class="text-right p-4">
            <h1 class="font-extrabold">
                Watching: <span class="text-cyan">'{{ currentSession.title }}'</span>
            </h1>
        </div>
    </div>

    <div id="banner">
        {% include 'live/banner' %}
    </div>

    <div class="p-6 bg-white-op-3">
        <div class="mx-auto">
        <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
            <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/{{ currentSession.youtubeId }}?autoplay=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
    </div>

    <script>
    // {% set js %}

        window.watchingSessionId = {{ currentSession.id }};

        function refreshBanner()
        {

            var request = new XMLHttpRequest();
            request.open('GET', '/live/banner?watching={{ currentSession.id }}', true);

            request.onload = function() {
                if (this.status >= 200 && this.status < 400) {
                    // Success!
                    var resp = this.response;
                    log("Banner refreshed.");
                    document.getElementById('banner').innerHTML = resp;
                } else {
                    // We reached our target server, but it returned an error
                    log("Banner... nope.");
                }
            };

            request.onerror = function() {
                // There was a connection error of some sort
                log("Banner error.");
            };

            request.send();

        }

        window.setInterval(refreshBanner, 7777);

    // {% endset %}
    </script>

    {% includeJs js %}

{% endblock %}
