{% set currentSession = craft.entries.section('sessions').order('postDate asc').status(['live', 'pending']).one %}

{% extends '_layout' %}

{% block body %}

    <div class="flex w-full justify-between py-2 leading-none">
        <div class="text-left p-4">
            <span class="font-extrabold">
                {% verbatim%}{% <span class="text-gold">extends</span> <span class="text-cyan">'Conf'</span> %}{% endverbatim %}
            </span>
        </div>
        <div class="text-right p-4">
            <h1 class="font-extrabold">
                Watching: <span class="text-cyan">'{{ currentSession.title }}'</span>
            </h1>
        </div>
    </div>

    <div class="flex justify-end p-4 leading-none bg-white-op-1 space-x-4">

        <a class="bg-white-op-1 hover:bg-white-op-3 py-2 px-6" href="https://discord.gg/ekR5H6s" target="_blank">Join the Chat [Discord]</a>
        <a class="bg-white-op-1 hover:bg-white-op-3 py-2 px-4 rounded-sm" href="{{ currentSession.zoomUrl }}" target="_blank">Q&A Room [Zoom]</a>

    </div>

    <div class="p-6 bg-white-op-3">
        <div class="mx-auto">
        <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
            <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/{{ currentSession.youtubeId }}?autoplay=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
    </div>



{% endblock %}
