{% extends '_layout' %}

{% block body %}

    <div class="flex w-full justify-between py-2 leading-tight">
        <div class="text-left p-4">
            <span class="font-extrabold">
                {% verbatim%}{% <span class="text-gold">extends</span> <span class="text-cyan">'Conf'</span> %}{% endverbatim %}
            </span>
        </div>
        <div class="text-right p-4">
            <h1 class="font-extrabold">
                Watching: <a href="{{ url() }}" class="text-cyan hover:underline">extendsConf 2020</a>
            </h1>
        </div>
    </div>

    <div class="leading-normal bg-white-op-1 pb-20">

        <div class="p-10 mx-auto max-w-5xl w-full md:w-2/3 ">
            <h2 class="mb-4">
                <a href="https://twitter.com/ben_pylo" class="font-extrabold underline hover:text-cyan">Ben Croker</a> &mdash; <a href="https://www.youtube.com/watch?v=iRka12bKQeA" class="hover:underline hover:text-cyan">Reactive Twig Components with Sprig</a>
            </h2>
            <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
                <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/iRka12bKQeA?autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="p-10 mx-auto max-w-5xl w-full md:w-2/3">
            <h2 class="mb-4">
                <a href="https://marie-manandise.net" class="font-extrabold underline hover:text-cyan">Marie Manandise</a> &mdash; <a href="https://www.youtube.com/watch?v=coyt8ey6NRk" class="hover:underline hover:text-cyan">Accessibility in CMSs... What's stopping us?</a>
            </h2>
            <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
                <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/coyt8ey6NRk?autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="p-10 mx-auto max-w-5xl w-full md:w-2/3">
            <h2 class="mb-4">
                <a href="https://twitter.com/mattrambles" class="font-extrabold underline hover:text-cyan">Matt Stein</a> &mdash; <a href="https://www.youtube.com/watch?v=hdslCgc2MXU" class="hover:underline hover:text-cyan">Project Config, for Skeptics</a>
            </h2>
            <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
                <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/hdslCgc2MXU?autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="p-10 mx-auto max-w-5xl w-full md:w-2/3">
            <h2 class="mb-4">
                <a href="https://twitter.com/pixelcave_john" class="font-extrabold underline hover:text-cyan">John Champ</a> &mdash; <a href="https://www.youtube.com/watch?v=NgHd7rZzN6A" class="hover:underline hover:text-cyan">Thoughts on Themes & Third-Party Markets</a>
            </h2>
            <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
                <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/NgHd7rZzN6A?autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="p-10 mx-auto max-w-5xl w-full md:w-2/3">
            <h2 class="mb-4">
                <a href="https://twitter.com/drifteaur" class="font-extrabold underline hover:text-cyan">Zoltan Varady</a> &mdash; <a href="https://www.youtube.com/watch?v=7QLEk_0VFvU" class="hover:underline hover:text-cyan">Smarter Debugging in Craft CMS</a>
            </h2>
            <div class="relative shadow-xl" style="padding-bottom: 56.25%;">
                <iframe class="absolute block h-full w-full object-cover" src="https://www.youtube.com/embed/7QLEk_0VFvU?autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>



{% endblock %}
